@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 75px;
    padding: 1px 3%;
    background-color: white;
    box-shadow:;
    box-shadow:  0 0 20px gray /*,inset 0 0 10px rgba(211, 75, 75, 0.5)*/;  
    font-family: 'Nunito Sans', sans-serif;
    position: fixed;
    background-color: #080532;
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.logo
{
    width: 18%;
    padding: 10px 0px;
    height: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;   
    /* background-color: blue; */
}
.logo img{
   
}

.navigation{
    width: 60%;
    padding: 10px 0px;
    /* background-color: yellow; */
    display: flex;
    font-size: 22px;
    
    justify-content: space-between;
    align-items: center;
    
}
.navigation li{
    list-style-type: none;
    position: relative;
}
li::before {
    content: ''; /* Add content to create pseudo-element */
    position: absolute; /* Position pseudo-element */
    top: 0;
    left: -10px; /* Adjust the distance from the left edge of the li */
    width: 5px; /* Width of the line */
    height: 100%; /* Height of the line */
    background-color: brown; /* Color of the line */
  }
.contacts
{
    width: 18.5%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    /* background-color: blueviolet; */
}
.btn{
    padding: 10px 10px;
    background-color: brown;
    border-radius: 15px;
    margin-left: 100px;
    color: white;
}
.mision{
    position: relative;
    
}
.nav{
    width: 140%;
    /* height: 200px; */
    padding: 14px 2px;
    /* background-color: white; */
    /* box-shadow: 0 0 20px gray;  */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;

}
.mision:hover .nav{
    display: block;
}
.main{
    width: 100%;
    height: 90vh;
    background-color: blueviolet;
}
.two{
    width: 100%;
    height: 400px;
    background-color: red;
}
.one{
    width: 100%;
    height: 90vh;
    background-color: red; 
}
.footer{
    padding: 0px 50px;
    font-size: 9px;
}
.c2{
    width: 100%;
    padding: 20px 0px;
    margin-top: 50px;
    border-radius: 10px;

    background-color: #f5f5f5;
    color: black;
    font-family: arial;
    column-gap: 4%;
    display: flex;
}
.stm{
    width: 48%;
    padding: 0px 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#393838; */
    border-radius: 10px;
}
.sbr{
    width: 48%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* background-color: #615d5d; */
    border-radius: 10px;
    row-gap: 40px;
    justify-content: flex-start;
}
.sbr2{
    display: flex;
    padding: 10px 10px;


}
.sbr > h2{
   
}
.enter-mail{
    width: 50%;
    padding: 10px 0px;
    display: flex;
    margin-left: 10px;
    border-radius: 5px;
    /* background-color: brown; */
    font-size: 23px;

}
.subscribe{
     width: 30%;
     padding: 10px 0px;
     background-color: black;
     font-size: 18px;
    font-weight: bold;
     display: flex;
     align-items: center;
     color: white;
     justify-content: center;
}
.navigation2
    {
        display: none;
    }

@media(max-width:560px)
{
    .header
    {
     

    }
    .navigation
    {
        display: none;
    }
    .navigation2
    {
        display: block;
        display: flex;


    }
    .us{
        padding: 10px 20px;

        background-color: rgb(221, 45, 45);
    }
    .contacts
    {
    width: 18.5%;
    display:;
    padding: 10px 0px;
    /* background-color: blueviolet; */
}
.btn{
    padding: 10px 10px;
    background-color: brown;
    border-radius: 15px;
    margin-left: 10px;
    color: white;
}
}